{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h1 class="mt-2">Create lesson</h1>
<hr class="mt-0 mb-4">
<form action='' method='POST'>{% csrf_token %}

    {{ form.subject|as_crispy_field }}
    {{ form.location|as_crispy_field }}
    <div class="row">
        <div class="col-6">
            {{ form.start_time|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.end_time|as_crispy_field }}
        </div>
    </div>
    {{ form.students|as_crispy_field }}
    {{ form.class_group|as_crispy_field }}
    {{ form.teacher|as_crispy_field }}
    <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}

