{% extends 'base.html' %}
{% load auth_extras %}

{% block content %}
    <h1 class="mt-2">Logbook List</h1>
	<hr class="mt-0 mb-4">
    <table class="table table-striped">
        <thead>
            <tr>
                {% if request.user|has_group:"teacher" %}
                    <th>Student</th>
                    <th>Attendance</th>
                    <th>Grade</th>
                {% else %}
                    <th>Subject</th>
                    <th>Attendance</th>
                    <th>Grade</th>
                    <th>Detail</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for logbook in logbooks %}
                <tr>
                    {% if request.user|has_group:"teacher" %}
                        <td>{{ logbook.student }}</td>
                        <td>{{ logbook.attendance }}</td>
                        <td>{{ logbook.grade }}</td>
                        <td><a class="btn btn-info btn-sm" href="{% url 'logbook:logbook-detail' logbook.id %}">View</a></td>
                        <td><a class="btn btn-primary btn-sm" href="{% url 'logbook:logbook-update' logbook.id %}">Edit</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'logbook:logbook-delete' logbook.id %}">Delete</a></td>
                    {% else %}
                        <td>{{ logbook.subject }}</td>
                        <td>{{ logbook.attendance }}</td>
                        <td>{{ logbook.grade }}</td>
                        <td><a class="btn btn-info btn-sm" href="{% url 'logbook:logbook-detail' logbook.id %}">View</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if request.user|has_group:"teacher" %}
        <a class="btn btn-primary" href="{% url 'logbook:logbook-create' %}">Create a new Logbook</a>
    {% endif %}
{% endblock %}
