{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1 class="mt-2">Account</h1>
	<hr class="mt-0 mb-4">
		<p class="mt-4 mb-1 field-heading">Email</p>
		{%  if is_self %}
			<h5>{{email}}</h5>
		{% endif %}
		<p class="mt-4 mb-1 field-heading">First Name</p>
		<h5>{{first_name}}</h5>
		<p class="mt-4 mb-1 field-heading">Last Name</p>
		<h5>{{last_name}}</h5>
		<!-- If Auth user is viewing their own profile -->
		{% if is_self %}
		<p class="mt-4 mb-1 field-heading">Phone number</p>
		<h5>{{phone}}</h5>
        <p class="mt-4 mb-1 field-heading">Address</p>
		<h5>{{address}}</h5>
		<a  class="mt-4 btn btn-primary" href="{% url 'users:edit' user_id=id %}">Update</a>
		<div class="d-flex flex-column mt-4">
			<a class="m-auto" href="{% url 'password_change' %}">Change password</a>
		</div>
		{% endif %}

{% endblock content %}