{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="mt-2">Bills for Students</h1>
	<hr class="mt-0 mb-4">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" class="btn btn-success">
  </form>

  {% if billing %}
    <table>
      <thead>
        <tr>
          <th>Payment Type</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for bill in billing %}
          <tr>
            <td>{{ bill.typ }}</td>
            <td>{{ bill.amount }}</td>
            <td>{{ bill.date }}</td>
                <td><a href="{% url 'billing:bill-detail' bill.id %}">Detail</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No bills to show</p>
  {% endif %}
{% endblock %}
